- var page_name = "Code of contact"
// ---------------------
doctype
html(lang="ja")
  head
    include includes/_headmeta
  body
    include includes/_header
    main
      article.entry
        .container
          .row.justify-content-md-center
            .col-12.col-md-8
              header.entry__header
                h2.entry__title 行動規範
              .entry__content.mb-5
                h3.heading__03 １．目的
                p DojoCon Japanは、なによりもカッコよくあるべきだと考えます。このため、私たちはいじめ、うそつき、人の時間を無駄にするなどのカッコ悪い行為がなく、クールで誰に対しても安全で快適な環境を提供できるよう尽力します。
                p この行動規範では、参加者の行動に求めることと、受け入れがたい行為が招く結果について要点をまとめています。
                p すべてのスポンサー、ボランティア、一般来場者、その他の参加者の皆さんが、誰にとっても安全で快い体験ができるカンファレンスを実現するために協力してくれることを歓迎します。
                h3.heading__03 ２．もっとたくさんのDojoを増やし、もっと”COOL”なコーダーを増やしたい
                p この行動規範のもうひとつのゴールは、もっとたくさんのDojoを増やし、もっと”COOL”なコーダーを増やすことです。
                p 私たちDojoCon Japan運営者は、より多くの方々にCoderDojoを知ってもらうほか、各地域にCoderDojoがもっと増え、多くの子ども達とメンターが出会える機会を創出することを目指しています。
                p このゴールを達成するために、DojoCon JapanではDojoに関わる様々な情報の共有のほか、子供や教育関係者、または教育に興味のある方に対して、有意義なセッションと、ワークショップを企画しており、このカンファレンスを通してCoderDojoに携わっていただけるような場を創出いたします。
                h3.heading__03 ３．求められる行動
                ul
                  li 私たちは、DojoCon Japanの出席者へ出席または参加の費用を請求しない。
                  li 出席者は、仲間同士のメンタリングおよび自主学習を通じてお互いに学習することを奨励する。
                  li 出席者の多様性を尊重する。人種、性別、性的指向、または宗教による差別をしない。
                  li 私たちは、Dojoへ長期参加している若いメンバーに、Dojoの運営や指導の役割に関わるよう積極的に奨励する。
                h3.heading__03 4. 受け入れがたい行為
                p 「受け入れがたい行為」には以下が含まれます。
                p DojoCon Japanの主催および運営するイベントにおける参加者による威嚇的・迷惑・虐待的・差別的・軽蔑的・屈辱的な行為。
                p 「迷惑行為」には以下が含まれます。
                p 性別・性的指向・人種・宗教・障害に関する攻撃的な口頭のコメント、プレゼンスライドを含む公的空間においての裸体や性的画像の不適切な使用、嫌がらせとなる写真撮影や録音、プレゼンその他のイベントに対する継続的な妨害、不適切な身体的接触、歓迎されていない性的な注目。
                h3.heading__03 6. 受け入れがたい行為を目にした場合・その被害を被った場合
                p もし自身が受け入れがたい行為にさらされたり、誰かがそのような行為を受けていたり、その他気になることがあったりした場合は、できるだけ早くイベント運営者にお知らせください。
                p 運営者は、参加者が会場の警備員や地域の警察に連絡するのを手伝ったり、付き添いをしたり、その他の方法で受け入れがたい行為にさらされている方に力を貸すことにより、イベント期間中安心して過ごしていただけるように応対可能です。司会やオーガナイザー以外でも、近くにいる運営スタッフ（多くの場合首からスタッフ用の名札を下げています）へ声をかけてください。
                h3.heading__03 7. 適用範囲
                p イベント参加者すべて (参加者、スポンサー、主催企業、運営者、運営スタッフ、スピーカー、メンター、審査員、その他のゲスト) が、全イベント会場およびイベントに関連する行事などにおいてこの行動規範に従うことを期待します。


include includes/_footer
    include includes/_footermeta
