- var page_name = "Contest"
// ---------------------
doctype
html(lang="ja")
  head
    include includes/_headmeta
  body
    include includes/_header
    main
      article.entry
        .container
          .row.justify-content-md-center
            .col-12.col-md-8
              header.entry__header
                h2.entry__title プログラミングコンテスト作品募集！
                .entry__visual.text-center
                  img(src="img/goglobal_contest.jpg")
              .entry__content.mb-5
                p 子供達に海外の文化やコミュニティーにふれてもらいたい。その思いから、昨年に続き今年も『Go Global! DojoCon Japan 2018プログラミングコンテスト』を開催いたします。最優秀賞受賞者は、アイルランドで2019年6月頃に開催されるCoolest Projectsへご招待します。
                p 子供の頃から海外の文化やコミュニティーの空気にふれることは非常に良い機会だと考えています。アイルランドで開催されるCoolest Projectsを経験することで今後日本のDojoにも大きく貢献してくれると期待しています。ぜひふるってご参加ください。
                h3 Coolest Projects とは
                p Coolest ProjectsとはCoderDojoがアイルランドで2012年から開催している発表会、コンテストです。ヨーロッパ中の子供たちがCoderDojoで作ったプログラムや電子工作などの作品を持ち寄り、展示・発表しています。
                p 今年も5月26日（土）にCoolest Projects International 2018がアイルランドのダブリンで開催されました。アイルランドと14カ国から1000人の子ども達が参加しました。
                p 日本からもDojoCon Japan 2017の「Go Global プログラミングコンテスト」で最優秀賞を受賞した2名の忍者が参加しました。
                p 昨年（2017年）のCoolest Projects動画
                .youtube
                  iframe(width="560" height="315" src="https://www.youtube-nocookie.com/embed/RCKkSBxCvMg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                table
                  tr
                    th 対象作品
                    td プログラム言語は問わず、以下のジャンルで応募可能です。
                      ul
                        li Scratch（ゲーム、アニメーションなど）
                        li Webサイト（HTML/CSS、JavaScript、Pythonなど）
                        li スマホ・タブレット（Swift、Java、Viscuitなど）
                        li ゲーム（Unity、Minecraftなど）
                        li 電子工作（ラズベリーパイ、Arduino、micro:bitなど）
                        li ロボット（LEGO、アーテックなど）
                  tr
                    th 応募期間
                    td 2018年8月10日（金）
                  tr
                    th 審査の流れ
                    td
                      ol
                        li 応募締め切り後、第１審査を委員会で行い、入賞予定者を数名に絞る。
                        li イベント当日、入賞予定者に作品展示、プレゼンを行ってもらう。
                        li 参加者、スポンサー、スピーカーに投票してもらう。
                        li 投票を集計し、各受賞者を決定する。
                  tr
                    th 審査基準
                    td
                      ul
                        li 正常に動作するもの
                        li 暴力的、差別的な内容を盛り込んでいないこと
                        li 作品テーマを盛り込んでいる
                        li 作品的に優れている
                  tr
                    th 賞
                    td
                      p 最優秀賞<br>副賞：アイルランドで開催されるCoderDojo Coolest Projects 2019へご招待
                      ul.caution
                        li ※ 交通費、宿泊費20万円分の旅行券を本イベントよりプレゼントします
                        li ※ CoderDojo Coolest Project 2019へは親権者が必ずご同伴ください
                        li ※ CoderDojo Coolest Project 2019に関する各種申し込みは受賞者もしくは親権者にてお手続きください
                        li ※ 親権者の交通費、宿泊費はご自身でのご負担となります
                        li ※ 現地への実行委員の同伴やサポートなどはありません
                  tr
                    th 審査員
                    td
                      p 第１審査 : DojoCon Japan 実行委員会<br>最終審査 : DojoCon Japan 2018 参加者
                  tr
                    th 応募についての注意事項
                    td
                      ul
                        li コンテストの参加費用は無料です。
                        li DojoCon Japan 2018の当日プレゼンテーションで利用するパソコンや実行機器につきましては、各自ご持参ください。
                        li 会場までの交通費・宿泊費等はご自身のご負担となります。
                        li コンテストの参加は個人での参加となります。
                        li 応募については「参加規約」に則りますので、必ずお読みの上ご応募ください。
                        li 事後に、盗用作品など応募要項・審査基準を満たさないことがわかった場合は、受賞を取り消すことがあります。
              include includes/_contest-links
              h3.heading__03 2017年 最優秀賞受賞作品のご紹介
              p 各受賞者のコメントはこちら
              .row.mb-5
                .col-12.col-md-6
                  h4 三橋 優希<br>CoderDojo中野
                  img(src="img/37975847545_261a7a6847_k.jpg" alt="三橋さんの受賞時の喜びの表情")
                  h5 作品名：つながる。
                  img(src="img/tsunagaru.png" alt="つながる。のスクリーンキャプチャ")
                  h5 作品の簡単な説明
                  p 今回のテーマは「つながる」でした。この作品は、人と人との「つながり」をテーマにしたパズルゲームです。
                  p タイルを回転させてすべてのタイルがつながるとクリアというゲームです。
                  p 既存ステージをクリアするだけではなく、自分でステージを作ったり、他の人の作ったステージで遊べるようになっています。他の人のステージで遊ぶことでその人とプレイヤーが実際に「つながる」きっかけになるようにしました。
                  h5 Go Global! 最優秀賞受賞の感想
                  p 賞をいただき、本当にありがとうございます。デザイン、音、プログラムを完全自作でこだわって作っていたので、このような賞をいただけて本当に嬉しいです。
                  h5 CoolestProjectsに参加した感想
                  p CoolestProjectsは世界のいろいろなところからニンジャがあつまっていて、展示されている作品も様々でした。
                  p 女性がコードを書けるような環境づくりのためのWebサイトなど、それぞれの価値観が作品に反映されていて、見ていて面白かったです。
                  p 私はお菓子を集めていくアクションゲームを展示したのですが、審査員の方や展示ブースの前を通りかかる方に楽しんでもらうことができ、嬉しかったです。また、私が応募したGames + Web Games部門で最優秀賞をいただきました！自分の作品が国を超えて評価されたことがとても嬉しかったです。
                  p そして、親と私2人でアイルランドまで向かったのですが、2人とも英語が得意ではないのですがちゃんと通じて、英語に自信を持つことができました。海外のニンジャと片言の英語で交流したり、浴衣を着ていったら写真を一緒に撮ろうとせがまれたりしたのは一生の思い出です。
                  p 通訳の方、応援してくださった皆様、支えてくださった皆様、本当にありがとうございました！
                  h5 今回応募者へのアドバイス
                  p 自分が作りたいもの、遊びたいものをつくると良いと思います。
                  p それから、具体的になってしまいますが、バグ取りの時間も含めて制作時間の計画を立てることをおすすめします。実際私は締切直前でひぃひぃ言いながらバグ取りをしていたので、できるだけ余裕を持ったほうが良いです。あとは、楽しんで開発することです！是非皆さん挑戦してみてください！
                .col-12.col-md-6
                  h4 越智 健心<br>CoderDojo天白
                  img(src="img/37975846695_979716b898_k.jpg" alt="越智さんの受賞時の喜びの表情")
                  h5 作品名：R.O.L.L.
                  img(src="img/roll.png" alt="R.O.L.L.のスクリーンキャプチャ")
                  h5 作品の簡単な説明
                  p 暗い夜の中、光でさまざまなものを照らし、鏡などを回転させて、光をゴールまで導く、というパズルゲームてす。全体のつながりのある雰囲気作りに力を入れました。
                  h5 Go Global! 最優秀賞受賞の感想
                  p 操作が複雑であるという難点もありましたが、これまでの集大成、という気持ちで作ったというのもあり、この賞を受賞できてとても嬉しかったです。
                  h5 CoolestProjectsに参加した感想
                  p 外国のプログラミングの普及度、それぞれの作品のか完成度の高さ、など、驚いた点はさまざまあります。また、日本とアイルランドの違いやそれぞれの良さを知ることができ、視野が広がりました。
                  p 審査員への発表やほかの参加者へのゲームの紹介など、英語を使う機会が多くあり、英語の重要性を身をもって実感しました。外国の人とたくさん交流できたのも良かったです。また、さまざまなプログラムや電子工作などを見る中で、Scratch以外のプログラミング言語の重要性や将来性についても改めて感じました。これまで、主にゲームを作ってきていましたが、今後はほかの言語や生活に役立つものを作ることにも本格的にチャレンジしていきたいです。
                  p とても充実した、そして楽しかった1日でした。
                  h5 今回応募者へのアドバイス
                  p テーマはあまり重視しすぎず、「受賞のために作るもの」より、「自分が作りたいもの」を作ることが大切だと思います。また、いつごろにどこを作るという計画はしっかり立てておくのが良いと思います。
              include includes/_contest-links











include includes/_footer
    include includes/_footermeta
