- var page_name = "Session"
// ---------------------
doctype
html(lang="ja")
  head
    include includes/_headmeta
  body
    include includes/_header
    main
      article.entry
        .container
          .row.justify-content-md-center
            .col-12.col-md-8
              header.entry__header
                h2.entry__title 基調講演
                p.entry__time [11:00-12:00]
              .entry__content
                p CoderDojo西宮/梅田の主宰およびCoderDojo Japan理事。WordPressを使ったWEBサイトの制作および講師業を営む。サイボウズ株式会社公認 kintoneエバンジェリスト。基調講演では、日本初となるCoderDojoの全国会議 DojoCon Japan の開催に至った経緯と2年間の取り組みの紹介、実行委員長として国内各地および世界のDojo関係者との橋渡しを行い、更には世界に若者を送り出すなど、現在も精力的にコミュニティに貢献し続ける氏への想いなど、多岐にわたってお話しいただきます。
                p セッションでは、最近CoderDojoを始めた方、エンジニア（プログラマー）ではないけれどCoderDojoに参加している大人の方、CoderDojoをきっかけに活動の場が広がった方が登壇します。それぞれの立場から、CoderDojoに携わったことで得たこと・悩み・不安など、いろいろな視点でお話していただく予定です。
            .col-12.col-md-8
              .speaker-info
                .row.justify-content-md-center
                  .col-12.col-sm-6.col-lg-3
                    img(src="img/hosoya.jpg").speaker-info__thumbnail.rounded-circle
                    ul.speaker-info__links.list-inline.text-center
                      li.list-inline-item
                        a(href="https://twitter.com/tkc49" target="_blank")
                          i.fab.fa-twitter
                      li.list-inline-item
                        a(href="https://www.facebook.com/takashi.hosoya" target="_blank")
                          i.fab.fa-facebook-f
                      li.list-inline-item
                        a(href="https://takashihosoya.ninja/" target="_blank")
                          i.fas.fa-laptop
                  .col-12.col-sm-6.col-lg-9
                    h4.speaker-info__name 細谷 崇（ほそや たかし）
                    p.speaker-info__description CoderDojo西宮 チャンピオン / CoderDojo梅田 チャンピオン / DojoCon Japan 2016 実行委員長 / DojoCon Japan 2017 実行委員長 / 一般社団法人CoderDojo Japan 設立時社員 / NPO法人のためのIT支援事務所 ht 代表 / サイボウズ株式会社公認 kintone エバンジェリスト
                    .speaker-info__content
                      p 2012年に関西でCoderDojo熊野（旧：串本）に続き2番目のCoderDojoを兵庫県西宮市で開始、翌年には2つ目のCoderDojoを大阪市北区ではじめ、毎月２回CoderDojoを開催（2018年から交互に毎月開催）。
                      p CoderDojo西宮、CoderDojo梅田のキャンセル待ちの人数の問題を解決するために、CoderDojoを始める人、CoderDojoに関わる人を増やすためにDojoCon Japanを2016年にはじめる。2年目のDojoCon Japan 2017では100まで増えたCoderDojoのネットワークをつなぐために開催。
                      p CoderDojoとギネスビールが大好きで、2016年から毎年アイルランドへ。
                      ul
                        li 2016年: DojoCon 2016@アイルランド
                        li 2017年: Coolest Projects 2017@アイルランド
                        li 2018年: Coolest Projects 2018@アイルランド

include includes/_footer
    include includes/_footermeta
