- var page_name = "Sponsor"
// ---------------------
doctype
html(lang="ja")
  head
    include includes/_headmeta
  body
    include includes/_header
    main
      article.entry
        .container
          .row.justify-content-md-center
            .col-12.col-md-8
              header.entry__header
                h2.entry__title スポンサーシップのご案内
              .entry__content.mb-5
                p 私達、DojoCon Japan 実行委員会は、2018年8月25日（土）サイボウズ東京オフィスにて、「DojoCon Japan 2018」を開催いたします。
                p DojoCon（CoderDojo Conference）とは、CoderDojo発祥の地、アイルランドにおいて、CoderDojo Foundation主催で年１回のペースで開催されており、主にCoderDojoを支える大人たちを対象にしたカンファレンスです。 「DojoCon Japan」はこの日本版という位置づけで2016年に「DojoCon Japan 2016」2017年に「DojoCon Japan 2017」が大阪市で開催され、本年が3回目の開催。また東京でははじめての開催となります。
                p 当イベントのスポンサーとしてご支援いただければ、世界中に広がるCoderDojoのネットワークを活用し、国内はもとより、世界に向けてスポンサー様のツールやサービスをアピールいただけるものと考えております。また、イベント当日はセッション登壇や、ブース出展などの特典を用意しており、イベントに参加する大人や子供たちとのリアルな交流を通して、貴社の魅力をさらにアピールすることができます。
                p ぜひ、DojoCon Japan 2018 の スポンサーとして、当イベントにご協力をお願いいたします。
                p なお、お申込みは、下記フォームよりお願いいたします。


include includes/_footer
    include includes/_footermeta
