---
title: ひろがる plus one
j-title : DojoCon Japan 2018
description: DojoCon Japanは日本のCoderDojo関係者（見守る大人、学ぶ子供）とその活動に賛同・協賛する人が全国各地から集まる大きなイベントです。
layout: default
---

<section id="about" class="about bg__blue">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
      <h2 class="heading__01">ABOUT</h2>
      <h3 class="heading__02">日本最大のCoderDojoの祭典</h3>
      <p>DojoCon Japan は日本の CoderDojo 関係者 (見守る大人、学ぶ子供) とその活動に賛同・協賛する人が全国各地から集まる大きなイベントです。 一昨年と昨年は大阪で開催され、イベント開催時 45 箇所だった日本の Dojo が今では約 150 箇所を超えるコミュニティに成長しました。</p>
      <p>今回は「ひろがる plus one」をテーマに CoderDojo コミュニティに新しい風を巻き起こし、チャンピオン、メンター、ニンジャに関係なく、プラスワンの発見をすることのできる DojoCon Japan を目標にしています。</p>
      <h3 class="heading__02">CoderDojo</h3>
      <p>CoderDojo は 2011 年にアイルランドから始まった子供達にプログラミングを学ぶ場を提供するボランティア主導の世界的な非営利活動です。その数は世界中で 1800 以上 (2018 年 8 月現在) にも及びます。</p>
    </div>
  </div>
</div>
</section>
<section class="outline bg__blue pb-5">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-lg-6">
      <h2 class="heading__01">開催概要</h2>
      <dl class="row justify-content-md-center outline__detail">
        <dt class="col-3"><span>開催日</span></dt>
        <dd class="col-9">2018年8月25日（土）</dd>
        <dt class="col-3"><span>時間</span></dt>
        <dd class="col-9">10:00-17:00（開場9:30）</dd>
        <dt class="col-3"><span>場所</span></dt>
        <dd class="col-9">サイボウズ東京オフィス</dd>
        <dt class="col-3"><span>参加費</span></dt>
        <dd class="col-9">無料</dd>
      </dl>
      <p class="caution">※参加には事前の申込みが必要です</p>
      <div class="text-center mt-5"><a class="btn btn__green btn__xxl" href="https://dojoconjp2018.peatix.com/" target="_blank" role="button">ENTRY</a></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <div class="youtube">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Cjv31P7O3O4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</section>
<section id="news" class="news bg__green pb-5">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="heading__01">NEWS</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row post-list">
    {% assign news_items = site.news | sort: 'date' | reverse %}
    {% for news in news_items limit:6 %}
    {% if news.layout == "archive" %}
    {% else %}
    <div class="col-6">
      <article class="post-list__item">
        <a href="{%if news.direct-link %}{{ site.url }}/{{ news.direct-link }}{% else %}{{ site.url }}{{ news.url }}{% endif %}">
        <div class="post-list__thumbnail">
          <img
                  src="/img/{% if news.thumbnail %}{{ news.thumbnail }}{% else %}dummy-img.png{% endif %}"
                  alt="{{news.j-title}}の画像">
        </div>
        <div class="post-list__content">
          <p class="post-list__date">{{ news.update }}</p>
          <h3 class="post-list__title">{{ news.j-title }}</h3>
          <!--p.post-list__time-->
          <p class="post-list__speaker">{{ news.speaker-name }}</p>
        </div>
        </a>
      </article>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="text-center">
    <a class="btn btn__white btn__xxl" href="/news/" role="button">News一覧へ</a>
  </div>
</div>
</section>
<section id="access" class="access pb-5">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="heading__01 bgwh">ACCESS</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <dl class="access__detail">
        <dt>場所</dt>
        <dd>サイボウズ東京オフィス</dd>
        <dt>所在地</dt>
        <dd>〒103-6028<br>東京都中央区日本橋2-7-1 東京日本橋タワー 27階</dd>
        <dt>電車でお越しの場合</dt>
        <dd>東京メトロ銀座線・東西線、都営地下鉄浅草線「日本橋駅」B6出口直通<br>東京メトロ半蔵門線・銀座線「三越前駅」B6出口より徒歩3分<br>JR：「東京駅」八重洲北口より徒歩10分</dd>
      </dl>
    </div>
    <div class="col-md-6"><img src="img/cybozu.jpg" alt="サイボウズ東京オフィスのイメージ"></div>
    <div class="col-12 mt-5">
      <iframe class="access__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.793227350243!2d139.77189131579627!3d35.68209303753114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c46de1a941d%3A0x4fe7d8e930a3b4e!2z44K144Kk44Oc44Km44K65qCq5byP5Lya56S-!5e0!3m2!1sja!2sjp!4v1528120258500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
</section>
<section id="session" class="session bg__green">
<div class="container">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <h2 class="heading__01">SESSION</h2>
  <div class="row post-list">
      {% for session in site.session %}
        {% if session.layout == "archive" %}
        {% else %}
          <div class="col-6 col-md-3">
            <article class="post-list__item">
              <div class="post-list__thumbnail"><a href="{{ site.url }}{{ session.url }}"><img src="img/{{ session.thumbnail }}" alt="{{session.speaker-name}}の顔写真"></a></div>
              <div class="post-list__content">
                <h3 class="post-list__title">{{ session.j-title }}</h3>
                <p class="post-list__time">{{session.time-schedule}}</p>
                <p class="post-list__speaker">{{ session.speaker-name }}</p>
              </div>
              <div class="post-list__more"><a class="btn btn__white btn__xl" href="{{ site.url }}{{ session.url }}" role="button">more</a></div></article>
          </div>
        {% endif %}
      {% endfor %}
  </div>
</div>
</section>

<section id="workshop" class="workshop bg__green">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <h2 class="heading__01">WORKSHOP</h2>
      <div class="row post-list">
          {% for workshop in site.workshop %}
            {% if workshop.layout == "archive" %}
            {% else %}
              <div class="col-6 col-md-3">
                <article class="post-list__item">
                  <div class="post-list__thumbnail"><a href="{{ site.url }}{{ workshop.url }}"><img src="img/{{ workshop.thumbnail }}" alt="{{ workshop.j-title }}のイメージ"></a></div>
                  <div class="post-list__content">
                    <h3 class="post-list__title">{{ workshop.j-title }}</h3>
                    <p class="post-list__time">{{workshop.time-schedule}}</p>
                  </div>
                  <div class="post-list__more"><a class="btn btn__white btn__xl" href="{{ site.url }}{{ workshop.url }}" role="button">more</a></div></article>
              </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="row post-list mt-5">
  </div>
</div>
</section>

<section id="sponsor" class="sponsor">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <h2 class="heading__01 bgwh">SPONSOR</h2>
    </div>
  </div>

  <h3 class="text-center">Gold</h3>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a href="http://www.hde.co.jp/" target="_blank">
        <img src="./img/sponsor/g_hde.png" class="w-100" alt="株式会社HDE 様ロゴ">
      </a>
    </div>
  </div>

  <h3 class="text-center">Silver</h3>
  
  <div class="row">

    <div class="col-md-6">
      <a href="http://www.iodata.jp" target="_blank">
        <img src="./img/sponsor/s_iodata.png" class="w-100" alt="株式会社アイ・オー・データ機器 様ロゴ">
      </a>
    </div>

    <div class="col-md-6">
      <a href="https://afrel.co.jp/" target="_blank">
        <img src="./img/sponsor/s_afrel.png" class="w-100" alt="株式会社アフレル 様ロゴ">
      </a>
    </div>

    <div class="col-md-6">
      <a href="https://www.sakura.ad.jp/" target="_blank">
        <img src="./img/sponsor/s_sakurainternet.png" class="w-100" alt="さくらインターネット株式会社 様ロゴ">
      </a>
    </div>
    
    <div class="col-md-6">
      <a href="https://dotinstall.com/" target="_blank">
        <img src="./img/sponsor/s_dotinstall.png" class="w-100" alt="株式会社ドットインストール 様ロゴ">
      </a>
    </div>

    <div class="col-md-6">
      <a href="https://thewonder.it/bukatsu/programming/" target="_blank">
        <img src="./img/sponsor/s_wonderschool.png" class="w-100" alt="ワンダースクール プログラミング部 様ロゴ">
      </a>
    </div>

  </div>

  <h3 class="text-center">Bronze</h3>
  <div class="row">

    <div class="col-6 col-md-4 col-lg-3">
      <a href="https://www.communitycom.jp/" target="_blank">
        <img src="./img/sponsor/b_communitycom.png" class="w-100" alt="株式会社コミュニティコム 様ロゴ">
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="http://syun.com/" target="_blank">
        <img src="./img/sponsor/b_syun.png" class="w-100" alt="株式会社Syun 様ロゴ">
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="https://smile-zemi.jp/" target="_blank">
        <img src="./img/sponsor/b_smilezemi.png" class="w-100" alt="スマイルゼミ 様ロゴ">
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="https://www.tam-tam.co.jp/" target="_blank">
        <img src="./img/sponsor/b_tam.png" class="w-100" alt="株式会社TAM 様ロゴ">
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="http://corporate.nikkeibp.co.jp/" target="_blank">
        <img src="./img/sponsor/b_nikkeibp.png" class="w-100" alt="日経BP社 様ロゴ">
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="https://8x9.jp/" target="_blank">
        <img src="./img/sponsor/b_8x9.png" class="w-100" alt="キッズプログラミングスクール8x9（株式会社ハック） 様ロゴ">
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="https://yasslab.jp/" target="_blank">
        <img src="./img/sponsor/b_yasslab.png" class="w-100" alt="YassLab株式会社 様ロゴ">
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="https://www.unique-inet.co.jp/" target="_blank">
        <img src="./img/sponsor/b_uniqueinet.png" class="w-100" alt="ユニーク・アイネット株式会社 様ロゴ">
      </a>
    </div>

  </div>

</div>

</section>
<section class="contact bg__blue pb-5">
<div class="container">
  <div class="row">
    <div class="col-12" id="contact">
      <h3 class="heading__01">CONTACT</h3>
      <div class="text-center">
        <p><a href="mailto:dojocon2018@coderdojo.jp">メールにてお問い合わせください</a></p>
        <!--a(src="#").btn.btn__white.btn__xxl フォームを開く-->
      </div>
    </div>
    <div class="col-12" id="coderdojo-foundation">
      <h3 class="heading__01">後援</h3>
      <p class="text-center"><a href="https://coderdojo.com/">CoderDojo Foundation</a></p>
      <p class="text-center"><a href="https://coderdojo.jp/">CoderDojo Japan</a></p>
    </div>
  </div>
</div>
</section>
