<div class="row mb-5">
  <div class="col-12 col-md-4 text-center mb-4">
    <a class="btn btn__green btn-block btn__xl" href="https://docs.google.com/forms/d/e/1FAIpQLSd2J7JMSyeXBbTyP6I2uWStk0UbslgKsCBfjT-imneQmVuXWg/viewform" target="_blank">問い合わせ</a>
  </div>
  <div class="col-12 col-md-4 text-center mb-4">
    <a class="btn btn__green btn-block btn__xl" href="pdf/contestrule2018.pdf" target="_blank">参加資格</a>
  </div>
  <div class="col-12 col-md-4 text-center mb-4">
    <a class="btn btn__green btn-block btn__xl"
       href="https://docs.google.com/forms/d/e/1FAIpQLSeljv5ytR4WYlwKzvPbTxzx07WHnYYz2A8wXP3OZigeXzoQtA/viewform"
       target="_blank">作品応募</a>
  </div>
</div>