</main>
<footer class="site-footer bg__green">
  <div class="container">
    <div class="row d-flex">
      <div class="col-12 col-md-6 align-self-center">
        <p class="text-center text-md-left mb-0">DojoCon Japan 実行委員会</p>
      </div>
      <div class="col-12 col-md-6 align-self-center mt-3 mt-md-0">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item site-footer__text-link"><a href="/code-of-contact.html">行動規範</a></li>
          <li class="list-inline-item site-footer__sns"><a href="https://twitter.com/DojoConJapan" target="_blank"><i
                  class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item site-footer__sns"><a href="https://www.facebook.com/dojoconjapan" target="_blank"><i
                  class="fab fa-facebook-f"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--bootstrap require js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--script(src="js/jquery-3.3.1.slim.min.js")-->
<!--script(src="js/popper.min.js")-->
<!--script(src="js/bootstrap.min.js")-->
<script src="/js/app.js"></script>
</body>
</html>