<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.j-title }} - {{ page.title }} | DojoCon Japan 2018</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--link(rel="stylesheet" type="text/css" src="css/style.min.css")-->
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans">
  <link rel="canonical" href="https://dojocon2018.coderdojo.jp{{ page.url }}">
  <meta name="description" content="{{page.description}}"/>
  <meta property="og:locale" content="ja_JP">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.j-title }} - {{ page.title }} | DojoCon Japan 2018">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:url" content="https://dojocon2018.coderdojo.jp{{ page.url }}">
  <meta property="og:site_name" content="DojoCon Japan 2018">
  <meta property="og:image" content="https://dojocon2018.coderdojo.jp/img/mainvisual.png">
  <meta property="og:image:secure_url" content="https://dojocon2018.coderdojo.jp/img/mainvisual.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:title" content="{{ page.j-title }} - {{ page.title }} | DojoCon Japan 2018">
  <meta name="twitter:site" content="@DojoConJapan">
  <meta name="twitter:image" content="http://dojocon2018.coderdojo.jp/img/mainvisual.png">
  <link rel="icon" href="/cropped-favicon-32x32.png" sizes="32x32">
  <link rel="icon" href="/cropped-favicon-192x192.png" sizes="192x192">
  <link rel="/cropped-favicon-180x180.png">
  <meta name="msapplication-TileImage" content="/cropped-favicon-270x270.png">
</head>
<body>
{% if page.title == "ひろがる plus one" %}
<header class="site-header">
  <div class="main-visual text-center">
    <picture>
      <source media="(min-width: 768px)" srcset="img/mainvisual.png">
      <img src="img/mainvisual_sp.png" alt="DojoCon Japan 2018 2018.8.25(Sat) @サイボウズ東京オフィス">
    </picture>
  </div>
</header>
{% else %}
<header class="site-header bg__green pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="site-header__site-name">
          <a href="/">DojoCon Japan 2018</a>
        </h3>
        <h1 class="heading__01">{{page.title}}</h1>
      </div>
    </div>
  </div>
</header>
{% endif %}
<main>