.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #159957, #159957);
}
.page-header a{
    color: #fff;
}

.coderdojo-icon {
  width:64px;
  text-align:center;
}

.entry-content h2{
    border-bottom: 1px solid #159957;
}
