.row.mb-5
  .col-12.col-md-4.text-center.mb-4
    a.btn.btn__green.btn-block.btn__xl(href="mailto:dojocon2018@coderdojo.jp") 問い合わせ
  .col-12.col-md-4.text-center.mb-4
    a.btn.btn__green.btn-block.btn__xl(href="pdf/contestrule2018.pdf" target="_blank") 参加資格
  .col-12.col-md-4.text-center.mb-4
    a.btn.btn__green.btn-block.btn__xl(href="https://docs.google.com/forms/d/e/1FAIpQLSeljv5ytR4WYlwKzvPbTxzx07WHnYYz2A8wXP3OZigeXzoQtA/viewform" target="_blank") 作品応募
