footer.site-footer.bg__green
  .container
    .row.d-flex
      .col-12.col-md-6.align-self-center
        p.text-center.text-md-left.mb-0 DojoCon Japan 実行委員会
      .col-12.col-md-6.align-self-center.mt-3.mt-md-0
        ul.list-inline.text-center.text-md-right.mb-0
          li.list-inline-item.site-footer__text-link
            a(href="/code-of-contact.html") 行動規範
          li.list-inline-item.site-footer__sns
            a(href="https://twitter.com/DojoConJapan" target="_blank")
              i.fab.fa-twitter
          li.list-inline-item.site-footer__sns
            a(href="https://www.facebook.com/dojoconjapan" target="_blank")
              i.fab.fa-facebook-f
