meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title DojoCon Japan 2018 - ひろがる plus one -
link(rel="stylesheet" type="text/css" href="css/style.css")
//link(rel="stylesheet" type="text/css" src="css/style.min.css")
link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans")


link(rel="canonical" href="https://dojocon2018.coderdojo.jp/")
meta(property="og:locale" content="ja_JP")
meta(property="og:type" content="website")
meta(property="og:title" content="DojoCon Japan 2018 - ひろがる plus one -")
meta(property="og:description" content="DojoCon Japanは日本のCoderDojo関係者（見守る大人、学ぶ子供）とその活動に賛同・協賛する人が全国各地から集まる大きなイベントです。")
meta(property="og:url" content="https://dojocon2018.coderdojo.jp/")
meta(property="og:site_name" content="DojoCon Japan 2018")
meta(property="og:image" content="https://dojocon2018.coderdojo.jp/img/main-visual.png")
meta(property="og:image:secure_url" content="https://dojocon2018.coderdojo.jp/img/main-visual.png")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:description" content="DojoCon Japanは日本のCoderDojo関係者（見守る大人、学ぶ子供）とその活動に賛同・協賛する人が全国各地から集まる大きなイベントです。")
meta(name="twitter:title" content="DojoCon Japan 2018 - ひろがる plus one -")
meta(name="twitter:site" content="@DojoConJapan")
meta(name="twitter:image" content="https://dojocon2018.coderdojo.jp/img/main-visual.png")


link(rel="icon" href="/cropped-favicon-32x32.png" sizes="32x32")
link(rel="icon" href="/cropped-favicon-192x192.png" sizes="192x192")
link(rel="/cropped-favicon-180x180.png")
meta(name="msapplication-TileImage" content="/cropped-favicon-270x270.png")
