if page_name == 'top'
  header.site-header
    .main-visual.text-center
      picture
        source(media="(min-width: 768px)" srcset="img/mainvisual.png")
        img(src="img/mainvisual_sp.png" alt="DojoCon Japan 2018 2018.8.25(Sat) @サイボウズ東京オフィス")
else
  header.site-header.bg__green.pt-5
    .container
      .row
        .col-12.text-center
          h3.site-header__site-name
            a(href="/") DojoCon Japan 2018
            if page_name == 'Code of contact'
              h1.heading__01 Code of contact
            else if page_name == 'Contest'
              h1.heading__01 Contest
            else if page_name == 'Sponsor'
              h1.heading__01 Sponsor
            else if page_name == 'Session'
              h1.heading__01 Session
            else
              h1.heading__01 ひろがる plus one
