.entry {
  color: $dojocon-navy;
  &__header {
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    margin: 50px 0 30px 0;
    font-size: $font-size-base * 2.5;
    background-image: url("../img/heading01bg__bgwihte.svg") center bottom no-repeat;
  }
  &__title {
    color: $dojocon-navy;
    font-weight: bold;
    font-size: $font-size-base*2;
  }
  &__time {
    font-size: $font-size-lg;
  }
}
