.outline{
  &__detail{
    dt{
      span {
        display: block;
        margin-bottom: 10px;
        background-color: #fff;
        color: $dojocon-blue;
        padding: 5px;
        @include media-breakpoint-up(md) {
          padding: 10px;
        }
        border-radius: 35px;
        font-weight: normal;
        text-align: center;
      }
    }
    dd{
      padding: 5px;
      @include media-breakpoint-up(md) {
        padding: 10px;
      }
    }
  }
}
