{% include header.html %}
{% if page.title == "ひろがる plus one" %}
{{ content }}
{% else %}
<article class="entry">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-8">
        <header class="entry__header">
          <h2 class="entry__title mb-4">{{ page.j-title }}</h2>
          {% if page.thumbnail %}
          <div class="entry__visual text-center"><img src="img/goglobal_contest.jpg" alt="{{ page.j-title }}"></div>
          {% endif %}
        </header>
        {{ content }}
      </div>
    </div>
  </div>
</article>
{% endif %}
{% include footer.html %}